/* Need to adjust location of twohop-links-container */
.markdown-preview-sizer.markdown-preview-section {
    padding-bottom: 25px !important;
}

.cm-scroller {
    flex-direction: column; 
}

.cm-sizer {
  flex: 0 0 auto;
  min-height: 20% !important; 
}

.cm-content {
  padding-bottom: 0 !important; 
}